<!DOCTYPE html>
<!--angular module here attached to the html is named store in the js -->
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<!-- @since v3: Addition of custom css style sheet, for validations around inputs, to be shown on the fly green or red. -->
		<link rel="stylesheet" type="text/css" href="style.css" />
		
		<script type="text/javascript" src="angular.min.js"> </script>
		<!-- This is our module linked to the html -->
		<script type="text/javascript" src="app.js"> </script>
	</head>
	<body>
	<!--Controller here attached as well -->
		<div ng-controller="StoreController as store">
		<header>
		  <h1 class="text-center">Crafted Gems</h1>
		  <h2 class="text-center">store</h2>
		</header>
			<div class="list-group"> 
				<!-- directive for looping through the products -->
				<div class="list-group-item" ng-repeat="product in store.products | orderBy: 'price'"> 
					<!--directive that hides the html element based on any of the model's property/attribute we choose -->
					<div ng-hide="product.soldOut"> 
					<!--Currency filter used here, places the dollar sign and decimal points -->
						<h3> {{product.name}} <em class="pull-center">{{product.price | currency}}</em> </h3>
							<div class="img-wrap"> 
								<ul class="img-thumbnails clearfix">
								<!-- Products can have more than one img so loop through them with ng-repeat again -->
									<li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
									  <img ng-src="{{product.images[0].full}}" />
									</li>
								 </ul>
							</div>
						<!--Directive to show or not button, based on any chosen model's property -->
						<div class="purchaseButton">
						<!-- Adding Bootstrap button style, also use ng-show linked to object attribute to show or not depending on value -->
						<br><button ng-show="product.canPurchase" class="btn btn-info"> Add to Cart <br> </button>
						</div>
						
						<!-- Deprecated: Following directive in section assign ids to tabs to be used later with bootstrap -->
						<!-- @since v_1_1 separate the tabs logic on a controller to tidy up code, see app.js file, where controllers are declared -->
						<section ng-init="tab = 1" ng-controller="PanelController as panel"> 
								<br>
								<ul class="nav nav-pills">
									<li ng-class="{active:panel.isSelected(1)}"> <!--Note the {} to evaluate the expression and link it to bootstrap active: -->
										<a href ng-click="panel.selectTab(1)"> Description </a>  <!-- When clicked, assign the value 1 to this tab with the directive [to a property angular will use, see below] -->
									</li>
									<li ng-class="{active:panel.isSelected(2)}"> 
										<a href ng-click="panel.selectTab(2)"> Specifications </a> 
									</li>
									<li ng-class="{active:panel.isSelected(3)}"> 
										<a href ng-click="panel.selectTab(3)"> Reviews </a> 
									</li>
								</ul>
								<!-- divs below hold the info from the model linked to the tabs above with their ids, to show them according to their ids: this is done through ng-show directive
								but tab value is set while dom element is clicked above in the li
								-->
							<div class="panel" ng-show="panel.isSelected(1)">  
								<p> {{product.description}}</p> 
							</div>
							<div class="panel" ng-show="panel.isSelected(2)">  
								<p product-specs/> <!-- here this block is replaced by a custom directive (attribute type) --> 
							</div>
							<div class="panel" ng-show="panel.isSelected(3)">  
								<ul>
								  <h4>Reviews</h4>
								  <!-- @since v_1_3: Replacing this block of code to declutter html index code, by using custom element directive -->
								  <product-review></product-review>
								</ul>
								<!-- Form Handling: Adding the linkage to the controller in the js, to tidy the code and follow pattern practices -->
								<!--For the ng-submit check the dollar sign, a built in property from angular, allows to check for html dom objects property values, this relies on objects with the valid tag property-->
								<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate> <!-- Pass back to the controller the modified product, through a function and to add a review -->
								 <!--  Live Preview through two way binding in angular -->
									<h4> Submit a new review </h4>
										<blockquote>
										<b>Stars: {{reviewCtrl.review.stars}} </b> <br>
											{{reviewCtrl.review.body}} <br>
										<cite> {{reviewCtrl.review.author}} </cite>
										</blockquote>
									<br>
									<!-- ng-model binds the dom object values to the model we are passing to the angular controller -->
									<fieldset class="form-group">
										<select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
											<option value="">Rate the Product</option>
										</select>
									</fieldset>
									 <fieldset class="form-group">
										<textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
									</fieldset>
									<fieldset class="form-group">
										<input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required/>
									</fieldset>
									<fieldset class="form-group">
										<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
									</fieldset>
								</form>
							</div>
						</section>					
					</div>		
				</div>
			</div>
		</div>
	</body>
</html>